body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
aside {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
main {
    margin-right:25%;
    height:100%;
}