body {
    height:100%;
    background-image: url('img/mountainLowRes.jpg');
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    position:relative;
}
footer {
    color:rgba(255,255,255,0.4);
    text-align:center;
    transition:0.5s;
}
footer:hover {
    color:rgba(255,255,255,0.8);
}
.splash {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:white;
    text-shadow: 1px 2px 4px black;
    position:relative;
}
h3 {
    margin-top:0;
    font-style:italic;
}
.well {
    min-height:25em;
}
.fa-chevron-down {
    display:block;
    position:absolute;
    bottom:3em;
    transition: 0.5s;
    animation: bounce 2s forwards 1s;
    cursor: pointer;
    width:100%;
    text-align:center;
}
@keyframes bounce {
    0 {
        bottom: 3em;
    }
    25% {
        bottom: 1em;
    }
    50% {
        bottom: 2em;
    }
    75% {
        bottom: 1em;
    }
    90% {
        bottom: 1.5em;
    }
    100% {
        bottom: 1em;
    }
}
nav ul {
    list-style: none;
    padding:0;
    display:flex;
    justify-content:space-around;
}
nav li {
    cursor:pointer;
    width:10em;
    text-align:center;
    background:#dd1818;
    color:white;
    font-weight:bold;
    border-radius:0.3em;
    padding:0.3em;
}
.smallHeader {
    background-image: url('img/mountainLowRes.jpg');
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    color:white;
    text-shadow: 1px 2px 4px black;
    position:fixed;
    top:0;
    width:100%;
    height:4em;
    padding-left:2em;
}
section {
    display:flex;
}
section img {
    padding-right: 1em;
}
section ul {
    list-style:none;
}
.resources {
    display:block;
}
.quote {
    margin: 2em 0 2em 0;
    font-weight:700;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-shadow: 1px 2px 4px black; 
    width:100%;
    background: rgba(0,0,0,0.8);
    padding-top:0.5em;
    border-radius:0.5em;

}
.well {
    background: rgba(245,245,245,0.85);
}
/*Gallery by Gideon Roberts*/

div.gallery {
    margin: 10px;
    width:90%;
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
/*.gallery:hover {*/
/*    animation: swell 1s ease 0s 1 ease;*/
/*}*/

div.gallery img {
    width: 48%;
    height: auto;
    display: inline-block;
    margin: 3px;
}
/*div.gallery img:hover {
    animation: swell 1s linear 0s 1 ease;
}
@keyframes swell {
    from {
        width:90%; 
        height:auto;
        
    }
    to {
        width:100%; 
        height:auto;
        
    }
}*/
/*END Gallery*/
.mathlinks {
    list-style-type: none;
    color: rgb(211,34,45);
}

.stats{
    background-color: white;
    font-size: 16px;
    text-decoration: bold;
    padding: 20px;
    display:none;
    position:relative;
    transition:0.5s;
}
span:hover + div {
    display:block;
    position:absolute;
    }