body {
    background-image: url("https://lh3.googleusercontent.com/-1elqD8cyGhI/WLtp_9uU4FI/AAAAAAABDRE/lCaiJDQaVmYczuRGulHXt2Ii0ZZKWBZ1QCJoC/w480-h360/17%2B-%2B1")
}
h1 {
    color: white;
}
p {
    color: white;
}